body {
  font-family: "degular", "Hiragino Sans","Yu Gothic", "Meiryo", sans-serif;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #4f4a4a;
  background-color: #f1ede8;
  font-weight: 400;
  font-style: normal;
}

a {
  transition: opacity 0.6s;
  text-decoration: none;
  color: #7689ff;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

.content {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}


/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  font-family: "degular", sans-serif;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  color: #4f4a4a;
  transition: background-color 0.6s;
  background-color: #f1ede8;
  border-bottom:1px solid #0f0f0f ;
}

.headerColorScroll {
  background-color: #ad889476;
  backdrop-filter: blur(12px);
  transition: background-color 0.5s ease-in;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  line-height: 2;
}

.header-logo {
  font-size: 1rem;
  margin-right: 20px;
  letter-spacing: 0.05em;
}

.header-logo a {
  color: #3c3c3c;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-list li a {
  color: #3c3c3c;
}

.header-nav-item:not(:last-child) {
  margin-right: 20px;
}

.header-nav-item a {
  font-size: .9rem;
  padding: 5px 0;
  letter-spacing: 0.1em;
}

.header-nav-item a:hover {
  opacity: 0.8;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-family: "degular", sans-serif;
  font-size:2.5rem;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  /* letter-spacing: .05em; */
  color: #4f4a4a;
}

.title span {
  font-size: 1.1rem;
  text-align: end;
  padding-left: 100px;
}

.lead {
  margin-bottom: 30px;
  text-align: center;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.kv {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid #0f0f0f ;
}

.kv .main-copy {
  margin-top: 50px;
  color: #2f2f2f;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.2em;
  color: transparent;
	-webkit-text-stroke: .005rem #000;
}

.kv .sub-copy {
  color: #2f2f2f;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2em;
}

/* video */
.video {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.video::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #dbb2b5a0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
}

.video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*--------------------------------
 Works
---------------------------------*/
.works {
  margin-top: 100px;
  padding-bottom:100px;
}

.works-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 5%;
}

.works-item {
  width: calc((100vw - 140px) / 3);
  max-width: 300px;
  color: #333;
}

.works-item img:hover {
  opacity: 0.5;
  filter: blur(1px);
  transition: .8s;
}

.works-item img {
  border:1px solid #0f0f0f ;
  background-color: rgba(255, 255, 255, 0.507);
}

/* .works-item:nth-of-type(3n) {
  margin-right: 0;
} */

.works-name {
  font-size: .8rem;
  font-weight: normal;
  margin-top: 8px;
  text-align: center;
}

.works-info {
  font-size: .7rem;
  text-align: center;
}

.banner_list {
  margin-top: 100px;
}

/*--------------------------------
fadeUp
---------------------------------*/

.box {
  opacity: 0;
}
.delay-time02 {
  animation-delay: 0.2s;
}

.delay-time04 {
  animation-delay: 0.4s;
}

.delay-time06 {
  animation-delay: 0.6s;
}

.delay-time08 {
  animation-delay: 0.8s;
}

.delay-time010 {
  animation-delay: 1s;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*--------------------------------
 プロフィール
---------------------------------*/
.profile_wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom:1px solid #0f0f0f ;
  border-top:1px solid #0f0f0f ;
}

.para {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.para img {
    transform: translate3d(0px, 550px, 0px);
    will-change: transform;
    object-fit: cover;
}

.profile {
  margin-left: 10%;
  padding: 4rem 3rem;
  border: 1px solid;
  background-color: #f1ede8;
  width: 460px;
}

.profile-title {
  font-size: 2rem;
  text-align: left;
  color: #000000;
}

.profile-text {
  font-size: .9rem;
  margin-top: 20px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill {
  margin-top: 100px;
}
.skill-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #0f0f0f;
}

.skill-item {
  width: 25%;
  border-bottom: 1px solid #0f0f0f;
  border-right: 1px solid #0f0f0f;
  background-color: rgba(255, 255, 255, 0.507);
}

.skill-item:nth-child(4),.skill-item:last-child {
  border-right:none;
} 

.skill-body {
  flex: 1;
  padding: 54px;
}
.skill-name {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.skill-text {
  font-size: .9rem;
}

/*--------------------------------
 flowing
---------------------------------*/
.flowing{
  font-weight: 500;
  font-style: normal;
  align-items: center;
  color: #4f4a4a;
  background-color: #ffffff;
  display: flex;
  line-height: 70px;
  overflow:hidden;
  white-space:nowrap;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;
  border-bottom:1px solid #0f0f0f ;
}
.flowing ul {
  animation: flowing 80s linear infinite;
  font-size: 5rem;
  transform:translateX(100%);
  margin: 0;
  padding: 0;
}
.flowing ul li{
  display: inline-block;
  padding-right: 10px;
}
@keyframes flowing {
  0% { transform:translateX(0); }
  100% { transform:translateX(-100%); }
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  margin-top: 80px;
  padding-bottom: 80px;
}
.contact-list {
  display: flex;
  justify-content: center;
}

.contact-item {
  display: block;
  text-align: center;
  font-size: 1.1rem;
}

.contact-text {
  margin-top: 50px;
  text-align: center;
}

/*--------------------------------
フッター
---------------------------------*/
.footer {
  border-top:1px solid #0f0f0f ;
  padding: 50px;
  background-color: #f1ede8;
}

.copyright {
  font-size: 1.4rem;
  text-align: center;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article-inner {
  margin: 0 auto;
  padding:0 20%;
  padding-bottom: 50px;
}

.article-title {
  text-align: center;
}

.article-img {
  text-align: center;
  margin-top: 40px;
}

.article-wrapper  {
  display: flex;
  column-gap: 5%;
}

.article-mr img {
  flex: 1;
  margin-top: 120px;
  width: auto;
}

.article-lb img{
  width: auto;
}

.article-lb {
  margin-top: 20px;
}

.article-body {
  margin: 0 auto;
}

.article-info-title {
  padding-top: 20px;
  font-size: 1.1rem;
}

.article-body p {
 font-size: .9rem;
}

.home-link {
  margin-top: 50px;
  text-align: center;
}

.home-link  a {
  color: #4f4a4a;;
}

.banner-body {
  margin-top: 50px;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 768px) {
  body {
    font-size: .8rem;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size:2.2rem;
  }
  
  /* ヘッダー */
  .header-logo {
    font-size: 1rem;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 10px;
  }

  .header-nav-item a {
    font-size: .8rem;
  }

  /* Works */
  .works section {
    background-color: #e6e6e6;
    z-index: 100;
  }
  .works-name {
    font-size: 10px;
  }
  .works-list {
    display: block;
  }
  .works-item {
    display:block;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }

  /* プロフィール */
  .profile {
    padding: 30px 0;
  }
  .profile-title {
    font-size: 20px;
  }

  .para img {
    height: 100vh;
  }


  /* Skill */
  .skill-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill-item {
    width: 50%;
  }

  .skill-item:nth-child(even){
    border-right:none ;
  }


  /* Skill */
  .flowing {
   margin-top: 0;
  }

  /* Contact */
  .contact{
   margin-top: 30px;
   padding: 40px;
  }

  /* フッター */
  .footer {
    padding: 30px 0;
  }

  .article-mr img,.article-lb img{
    max-width: 100%;
    height: auto;
   }

   .article-wrapper {
    display: block;
   }

}


